@{
    ViewData["Title"] = "Add Item Page";
}

<div class="text-center">
  Add Item
    <div id="app"></div>
</div>

@section Scripts {
    <script src='/js/dist/view_item_create.app.bundle.js'></script>
}
