@{
  ViewData["Title"] = "Add Item Page";
}

<div class="text-center">
  Add Item
    <div id="item_detail_app"></div>
</div>

@section Scripts {
    <script src='/js/dist/view_item_detail.app.bundle.js'></script>
}
