@{
    ViewData["Title"] = "Item List Page";
}

<div class="text-center">
  Item List page
    <div id="app"></div>
</div>

@section Scripts {
    <script src='/js/dist/view_item_list.app.bundle.js'></script>
}
