@{
    ViewData["Title"] = "Status List Page";
}

<div class="text-center">
  Status List page
    <div id="app"></div>
</div>

@section Scripts {
    <script src='/js/dist/view_status_list.app.bundle.js'></script>
}
