@{
    ViewData["Title"] = "Shop List Page";
}

<div class="text-center">
    店舗一覧ページ
    <div id="app"></div>
</div>

@section Scripts {
    <script src='/js/dist/view_shop_list.app.bundle.js'></script>
}
