@{
    ViewData["Title"] = "Master";
}

<div id="app">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="btn btn-info" href="/Status">Status Master</a>
            <a class="btn btn-info" href="/Locaion">Location Master</a>
            <a class="btn btn-info" href="/Client">Client Master</a>
            <a class="btn btn-info" href="/Vendor">Vendor Master</a>
            <a class="btn btn-info" href="/Unit">Unit Master</a>
        </div>
    </div>
</div>
